[submodule "clh-proto"]
	path = clh-proto
	url = https://github.com/SydneyOwl/clh-proto.git
[submodule "src/ClhPluginSdk/clh-proto"]
	path = src/ClhPluginSdk/clh-proto
	url = https://github.com/SydneyOwl/clh-proto.git
